html * {
  font-family: Roboto, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
#navbar {
  width: 100%;
  height: 56px;
  background-color: #2874f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin: 0;
  padding: 0;
}

#navImage {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  width: 5%;
  margin-left: 50px;
}
#navImage > img {
  width: 100%;
}
#navContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#searchBar {
  display: flex;
  gap: 0;
  flex-direction: row;
  height: 37px;
  background-color: white;
}
#searchBar > input {
  width: 510px;
  font-size: 14px;
  padding-left: 15px;
  border: none;
  border-radius: 2px 0 0 2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.no-outline:focus {
  outline: none;
}
#navContent > #searchBar > button {
  width: 50px;
  border: none;
  border-radius: 0 2px 2px 0;
  background-color: white;
  font-size: 17px;
  color: #2874f0;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.dropdown>.dropbtn {
  /* width: 120px; */
  font-size: 15px;
  color: #2874f0;
  font-weight: 600;
  height: 30px;
  padding: 0 38px;
  border: none;
  border-radius: 2px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 270px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -68px;
  /* margin-top: 14px; */
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 15px solid white;
  margin-left: 55px;
}
.contain {
  display: flex;
  flex-direction: column;
}
.contain > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  border-bottom: 1px solid rgb(242, 240, 240);
}
.contain i {
  color: #2874f0;
}
.contain > .firstDiv {
  display: flex;
  justify-content: space-between;
}

.contain > div:hover {
  background-color: rgb(245, 245, 245);
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
#navCart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  gap: 30px;
  margin-left: 25px;
}
#navCart button {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  background-color: #2874f0;
  padding: 8px;
  border: none;
}
#moreNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dropbtn {
  /* width: 120px; */
  font-size: 18px;
  color: #2874f0;
  font-weight: 600;
  height: 35px;
  padding: 0 45px;
  border: none;
  border-radius: 2px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: white;
  width: 270px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -68px;
  /* margin-top: 14px; */
}
.arrow-up2 {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 15px solid white;
  margin-left: 55px;
}
.contain2 {
  display: flex;
  flex-direction: column;
}
.contain2 > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  border-bottom: 1px solid rgb(242, 240, 240);
}
.contain2 i {
  color: #2874f0;
}
p {
  color: black;
}

.contain2 > div:hover {
  background-color: rgb(245, 245, 245);
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

#iconCart {
  display: flex;
  align-items: center;
}
