#product_right {
  padding: 15px;
}
#product_left {
  padding: 15px;
}
.rating_filter > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.rating_filter i {
  font-size: 12px;
}
.rating_filter input {
  margin-right: 5px;
}
.rating_filter input[type="checkbox"] {
    accent-color: #2874f0;
}
