#firstPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 70px 80px 15px 80px;
  border-bottom: 1px solid rgb(179, 179, 179);
}
#firstPanel > div {
  text-align: center;
  /* font-style:unset; */
  font-size: 15px;
  font-weight: 400;
}
#firstPanel > div > img {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
}
